<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--favicon-->
    <link rel="shortcut icon" href="/static/img/index/camara-favicon.png"> 

        <!-- Enlaza la hoja de estilos CSS desde la carpeta 'static/css' -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    
    <title>{{titulo}}</title>

    <!-- solo se usa en contacto -->
    <script src="https://kit.fontawesome.com/213da3ef91.js" crossorigin="anonymous"></script>

</head>